@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Sriracha);

@media screen and (min-width: 1088px)
.container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
    margin-right: 0rem;
}

@media screen and (min-width: 1088px)
.navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
}

@media screen and (min-width: 1088px)
.navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
}

@media screen and (max-width: 1087px)
.is-hidden-touch {
    display: none!important;
}

.navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
    margin-right: 0rem !important;
}

.is-vintage-home {
    background-color : #454545;
    color : whitesmoke
}

.text-color-home {
    color: rgba(245, 245, 245, 0.788) !important;
    font-family: "Seaweed Script" !important;
    font-size: 120px !important;
}

.text-color-about-sl {
    color: rgba(245, 245, 245, 0.658) !important;
    font-family: "Seaweed Script" !important;
    font-size: 70px !important;
    padding-bottom: 30px
}

.text-color-about-content {
    color: rgba(245, 245, 245, 0.658) !important;
    font-family: "Sriracha" !important;
    font-size: 30px !important;
}

.text-color-home-th1 {
    color: rgba(255, 5, 5, 0.788) !important;
    font-family: "Seaweed Script" !important;
    font-size: 80px !important;
}

.text-color-home-th2 {
    color: rgba(245, 245, 245, 0.788) !important;
    font-family: "Seaweed Script" !important;
    font-size: 80px !important;
}

.text-color-home-th3 {
    color: rgba(69, 28, 253, 0.788) !important;
    font-family: "Seaweed Script" !important;
    font-size: 80px !important;
}

.menu-margin {
    margin-left: 600px !important;
}

.font-logo {
    font-family: "Seaweed Script" !important;
    font-size: 20px;
    padding-top: 3px;
}

.is-vintage-about-me {
    background-color : #999999
}

.transparent-menu {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.9;
}

.padding-menu {
    padding-left: 108px !important;
}

a:hover {
    color: rgb(253, 2, 98) !important;
}

.hero.is-vintage-home {
    background: url(https://scontent.fbkk1-3.fna.fbcdn.net/v/t1.0-9/43291467_319728928833514_986914571870535680_n.jpg?_nc_cat=109&oh=c3d00cc7f09d393ff0bc561885edf191&oe=5C4E60EC) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero.is-vintage-about-me {
    background: url(https://scontent.fbkk1-5.fna.fbcdn.net/v/t1.0-9/43075308_318851822254558_8497209318980976640_n.jpg?_nc_cat=111&oh=e0974c25e26b2d034a21b7224fe49d86&oe=5C52154E) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero.is-vintage-portfolio {
    background: url(https://scontent.fbkk1-5.fna.fbcdn.net/v/t1.0-9/43310207_319728885500185_3912540478796464128_n.jpg?_nc_cat=102&oh=57f2b59b5c0c24dbb6bf851b2ae13269&oe=5C18BC01) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero.is-vintage-service {
    background: url(https://scontent.fbkk1-4.fna.fbcdn.net/v/t1.0-9/43199507_319728762166864_4556431912704409600_n.jpg?_nc_cat=105&oh=29d0d542db61972c334c8f6dce0886ab&oe=5C588A28) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}